// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$agave-green: #42cf7d;
$dark-orange: #ff5926;
$curry-yellow: #ffc954;
$raspberry-red: #de3573;
$black-berry-yoghurt: #cc60b8;
$lavender-blue: #59508d;
$dark-orange-100: #ffded4;
$dark-orange-200: #ffbda8;
$dark-orange-300: #ff9b7d;
$dark-orange-400: #ff7a52;
$dark-orange-500: #ff5926;
$dark-orange-600: #cc471f;
$dark-orange-700: #993517;
$dark-orange-800: #66240f;
$dark-orange-900: #331208;
$agave-green-100: #d9f5e5;
$agave-green-200: #b4eccb;
$agave-green-300: #8ee2b1;
$agave-green-400: #68d997;
$agave-green-500: #42cf7d;
$agave-green-600: #35a664;
$agave-green-700: #287c4b;
$agave-green-800: #1b5332;
$agave-green-900: #0d2919;
$curry-yellow-100: #fff4dd;
$curry-yellow-200: #ffe9bb;
$curry-yellow-300: #ffde98;
$curry-yellow-400: #ffd476;
$curry-yellow-500: #ffc954;
$curry-yellow-600: #cca143;
$curry-yellow-700: #997832;
$curry-yellow-800: #665022;
$curry-yellow-900: #332811;
$raspberry-red-100: #f8d7e3;
$raspberry-red-200: #f2aec7;
$raspberry-red-300: #eb86ab;
$raspberry-red-400: #e55d8f;
$raspberry-red-500: #de3573;
$raspberry-red-600: #b22a5c;
$raspberry-red-700: #852045;
$raspberry-red-800: #59152e;
$raspberry-red-900: #2c0b17;
$black-berry-yoghurt-100: #f5dff1;
$black-berry-yoghurt-200: #ebbfe3;
$black-berry-yoghurt-300: #e0a0d5;
$black-berry-yoghurt-400: #d680c6;
$black-berry-yoghurt-500: #cc60b8;
$black-berry-yoghurt-600: #a34d93;
$black-berry-yoghurt-700: #7a3a6f;
$black-berry-yoghurt-800: #52264a;
$black-berry-yoghurt-900: #291325;
$lavender-blue-100: #dedce8;
$lavender-blue-200: #bdb9d1;
$lavender-blue-300: #9c96bb;
$lavender-blue-400: #7a73a4;
$lavender-blue-500: #59508d;
$lavender-blue-600: #474071;
$lavender-blue-700: #363055;
$lavender-blue-800: #242038;
$lavender-blue-900: #12101c;
