<%# color as an attribute %>
<div class="learn-more" data-collapse-target="uncollapser" data-action="click->collapse#uncollapse">
  <div class="collapse-arrow">
    <div class="card-line bd-<%= color %>"></div>
    <div class="arrow-head-collapse-container">
      <i class="arrow-head-collapse arrow-down bd-<%= color %>"></i>
    </div>
  </div>
  <div>
    learn more
  </div>
</div>
