<div class="navbar navbar-home">
  <div class="link link-left">
    <h6 data-action="click->navigation#to_<%=link_left.downcase %>">
      <%= link_left %>
    </h6>
  </div>
  <div class="nav-double-arrow">
    <i class="arrow-head-nav arrow-left"></i>
    <div class="nav-arrow-line"></div>
    <i class="arrow-head-nav arrow-right"></i>
  </div>
  <div class="link link-right">
    <h6 data-action="click->navigation#to_<%=link_right.downcase %>">
      <%= link_right %>
    </h6>
  </div>
</div>
