<%# color as an attribute e.g. agave-green-500 %>
<div class="show-less" data-collapse-target="collapser" data-action="click->collapse#collapse">
  <div class="collapse-arrow">
    <div class="card-line bd-<%= color %>"></div>
    <div class="arrow-head-collapse-container">
      <i class="arrow-head-collapse arrow-up bd-<%= color %>"></i>
    </div>
  </div>
  <div>
    show less
  </div>
</div>
