// Background Colors
// Lavender Blue
.bg-hover-lavender-blue-100 {
  &:hover { background-color: $lavender-blue-100;
}}
.bg-hover-lavender-blue-200 {
  &:hover { background-color: $lavender-blue-200;
}}
.bg-hover-lavender-blue-300 {
  &:hover { background-color: $lavender-blue-300;
}}
.bg-hover-lavender-blue-400 {
  &:hover { background-color: $lavender-blue-400;
}}
.bg-hover-lavender-blue-500 {
  &:hover { background-color: $lavender-blue-500;
}}
.bg-hover-lavender-blue-600 {
  &:hover { background-color: $lavender-blue-600;
}}
.bg-hover-lavender-blue-700 {
  &:hover { background-color: $lavender-blue-700;
}}
.bg-hover-lavender-blue-800 {
  &:hover { background-color: $lavender-blue-800;
}}
.bg-hover-lavender-blue-900 {
  &:hover { background-color: $lavender-blue-900;
}}
// Raspberry Red 100 - 900
.bg-hover-raspberry-100 {
  &:hover { background-color: $raspberry-red-100;
}}
.bg-hover-raspberry-200 {
  &:hover { background-color: $raspberry-red-200;
}}
.bg-hover-raspberry-300 {
  &:hover { background-color: $raspberry-red-300;
}}
.bg-hover-raspberry-400 {
  &:hover { background-color: $raspberry-red-400;
}}
.bg-hover-raspberry-500 {
  &:hover { background-color: $raspberry-red-500;
}}
.bg-hover-raspberry-600 {
  &:hover { background-color: $raspberry-red-600;
}}
.bg-hover-raspberry-700 {
  &:hover { background-color: $raspberry-red-700;
}}
.bg-hover-raspberry-800 {
  &:hover { background-color: $raspberry-red-800;
}}
.bg-hover-raspberry-900 {
  &:hover { background-color: $raspberry-red-900;
}}
// Black Berry Yoghurt 100 - 900
.bg-hover-black-berry-yoghurt-100 {
  &:hover { background-color: $black-berry-yoghurt-100;
}}
.bg-hover-black-berry-yoghurt-200 {
  &:hover { background-color: $black-berry-yoghurt-200;
}}
.bg-hover-black-berry-yoghurt-300 {
  &:hover { background-color: $black-berry-yoghurt-300;
}}
.bg-hover-black-berry-yoghurt-400 {
  &:hover { background-color: $black-berry-yoghurt-400;
}}
.bg-hover-black-berry-yoghurt-500 {
  &:hover { background-color: $black-berry-yoghurt-500;
}}
.bg-hover-black-berry-yoghurt-600 {
  &:hover { background-color: $black-berry-yoghurt-600;
}}
.bg-hover-black-berry-yoghurt-700 {
  &:hover { background-color: $black-berry-yoghurt-700;
}}
.bg-hover-black-berry-yoghurt-800 {
  &:hover { background-color: $black-berry-yoghurt-800;
}}
.bg-hover-black-berry-yoghurt-900 {
  &:hover { background-color: $black-berry-yoghurt-900;
}}
// Curry Yellow 100 - 900
.bg-hover-curry-yellow-100 {
  &:hover { background-color: $curry-yellow-100;
}}
.bg-hover-curry-yellow-200 {
  &:hover { background-color: $curry-yellow-200;
}}
.bg-hover-curry-yellow-300 {
  &:hover { background-color: $curry-yellow-300;
}}
.bg-hover-curry-yellow-400 {
  &:hover { background-color: $curry-yellow-400;
}}
.bg-hover-curry-yellow-500 {
  &:hover { background-color: $curry-yellow-500;
}}
.bg-hover-curry-yellow-600 {
  &:hover { background-color: $curry-yellow-600;
}}
.bg-hover-curry-yellow-700 {
  &:hover { background-color: $curry-yellow-700;
}}
.bg-hover-curry-yellow-800 {
  &:hover { background-color: $curry-yellow-800;
}}
.bg-hover-curry-yellow-900 {
  &:hover { background-color: $curry-yellow-900;
}}
// Agave Green 100 - 900
.bg-hover-agave-green-100 {
  &:hover { background-color: $agave-green-100;
}}
.bg-hover-agave-green-200 {
  &:hover { background-color: $agave-green-200;
}}
.bg-hover-agave-green-300 {
  &:hover { background-color: $agave-green-300;
}}
.bg-hover-agave-green-400 {
  &:hover { background-color: $agave-green-400;
}}
.bg-hover-agave-green-500 {
  &:hover { background-color: $agave-green-500;
}}
.bg-hover-agave-green-600 {
  &:hover { background-color: $agave-green-600;
}}
.bg-hover-agave-green-700 {
  &:hover { background-color: $agave-green-700;
}}
.bg-hover-agave-green-800 {
  &:hover { background-color: $agave-green-800;
}}
.bg-hover-agave-green-900 {
  &:hover { background-color: $agave-green-900;
}}
