.btn {
  @extend h6;
  color: black;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  &:hover {
    opacity: 0.8;
    transition: ease-in-out;
    background-color: white;
  }
}
.btn-sqr {
  width: 3.25rem;
  i {
    font-size: 2rem;
  }
}
