// Background Colors
// Lavender Blue
.fc-lavender-blue-100 {
  color: $lavender-blue-100;
}
.fc-lavender-blue-200 {
  color: $lavender-blue-200;
}
.fc-lavender-blue-300 {
  color: $lavender-blue-300;
}
.fc-lavender-blue-400 {
  color: $lavender-blue-400;
}
.fc-lavender-blue-500 {
  color: $lavender-blue-500;
}
.fc-lavender-blue-600 {
  color: $lavender-blue-600;
}
.fc-lavender-blue-700 {
  color: $lavender-blue-700;
}
.fc-lavender-blue-800 {
  color: $lavender-blue-800;
}
.fc-lavender-blue-900 {
  color: $lavender-blue-900;
}
// Raspberry Red 100 - 900
.fc-raspberry-red-100 {
  color: $raspberry-red-100;
}
.fc-raspberry-red-200 {
  color: $raspberry-red-200;
}
.fc-raspberry-red-300 {
  color: $raspberry-red-300;
}
.fc-raspberry-red-400 {
  color: $raspberry-red-400;
}
.fc-raspberry-red-500 {
  color: $raspberry-red-500;
}
.fc-raspberry-red-600 {
  color: $raspberry-red-600;
}
.fc-raspberry-red-700 {
  color: $raspberry-red-700;
}
.fc-raspberry-red-800 {
  color: $raspberry-red-800;
}
.fc-raspberry-red-900 {
  color: $raspberry-red-900;
}
// Black Berry Yoghurt 100 - 900
.fc-black-berry-yoghurt-100 {
  color: $black-berry-yoghurt-100;
}
.fc-black-berry-yoghurt-200 {
  color: $black-berry-yoghurt-200;
}
.fc-black-berry-yoghurt-300 {
  color: $black-berry-yoghurt-300;
}
.fc-black-berry-yoghurt-400 {
  color: $black-berry-yoghurt-400;
}
.fc-black-berry-yoghurt-500 {
  color: $black-berry-yoghurt-500;
}
.fc-black-berry-yoghurt-600 {
  color: $black-berry-yoghurt-600;
}
.fc-black-berry-yoghurt-700 {
  color: $black-berry-yoghurt-700;
}
.fc-black-berry-yoghurt-800 {
  color: $black-berry-yoghurt-800;
}
.fc-black-berry-yoghurt-900 {
  color: $black-berry-yoghurt-900;
}
// Curry Yellow 100 - 900
.fc-curry-yellow-100 {
  color: $curry-yellow-100;
}
.fc-curry-yellow-200 {
  color: $curry-yellow-200;
}
.fc-curry-yellow-300 {
  color: $curry-yellow-300;
}
.fc-curry-yellow-400 {
  color: $curry-yellow-400;
}
.fc-curry-yellow-500 {
  color: $curry-yellow-500;
}
.fc-curry-yellow-600 {
  color: $curry-yellow-600;
}
.fc-curry-yellow-700 {
  color: $curry-yellow-700;
}
.fc-curry-yellow-800 {
  color: $curry-yellow-800;
}
.fc-curry-yellow-900 {
  color: $curry-yellow-900;
}
// Agave Green 100 - 900
.fc-agave-green-100 {
  color: $agave-green-100;
}
.fc-agave-green-200 {
  color: $agave-green-200;
}
.fc-agave-green-300 {
  color: $agave-green-300;
}
.fc-agave-green-400 {
  color: $agave-green-400;
}
.fc-agave-green-500 {
  color: $agave-green-500;
}
.fc-agave-green-600 {
  color: $agave-green-600;
}
.fc-agave-green-700 {
  color: $agave-green-700;
}
.fc-agave-green-800 {
  color: $agave-green-800;
}
.fc-agave-green-900 {
  color: $agave-green-900;
}
