// Hide ELments that should be only visible for when printing
.for-print {
  display: none;
}
// media query for printing layout
@media print {
  @page {
    size: 794px 1123px; /* A4 dimensions at 96 DPI */
    margin: 0;
  }
  html {
    font-size: 13px;
    -webkit-print-color-adjust: exact;
  }
  body {
    background-color: white;
    transform: scale(1);
  }
  .main-grid {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    grid-auto-flow: column dense;
  }
  h1 {
    font-size: 1.5rem!important;
    br {
      display: none;
    }
  }
  h3 {
    font-size: 1.25rem!important;
  }
  span.for-print, a.for-print {
    display: inline;
  }
  p.for-print, h1.for-print {
    display: block;
    margin: 0;
  }
  .graphic-arrow, .card-line, .navbar {
    display: none;
  }
  .column {
    overflow: visible;
    // height: fit-content;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid black;
  }
  .hero-section {
    height: fit-content!important;
  }
  .card {
    padding: 0;
    gap: 0.625rem;
    margin-top: 0.5rem;
  }
  .card-teaser-text {
    margin-top: 0.5rem;
  }
  .project-details {
    gap: 0.5rem;
  }
  .column-cv {
    border-color: $agave-green-200;
    display: block;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    .card-wrapper-cv {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      gap: 1rem;
      grid-auto-flow: column dense;
    }
    // place first element of class .card-cv on grid column two
    .card-cv:nth-child(1) {
      grid-column: 2 / span 1;
    }
    .card-cv:nth-child(2) {
      grid-column: 1 / span 1;
    }

    .learn-more, .show-less, .experience-type-icon-wrapper {
      display: none;
    }
    .card-expanded {
      display: flex;
    }
    .experience-type {
      margin-bottom: 0;
    }
    .project-details {
      margin-top: 0.5rem;;
    }
    .station-title {
      margin-top: 0.5rem!important;
    }
  }

  .column-start {
    border-color: $curry-yellow-300;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    h5, .footer, .fa-play, .title-text-1 {
      display: none;
    }
    .title {
      flex-direction: column-reverse;
    }
    .title-text-2 > h1::before {
      content: "David ";
    }
    .title-graphic {
      margin: 0;
    }
    .animated-greeting-img, .animated-talking-img, .static-img {
      background-image: asset-url('25_01_02_Profile.jpg');
    }
    .intro {
      justify-content: start;
      padding: 0;
      gap: 0.5rem;
      order: 1;
    }
    .cta-links {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 0;
    }
    .links-2, .links-1 {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 0;
    }
    a {
      background: none;
      padding: 0;
      margin: 0;
      font-weight: 400;
      font-size: 1rem!important;
      height: fit-content!important;
      justify-content: start;
      .for-web, i {
        display: none;
      }
    }
    #tel-no::before {
      content: "+49 157";
    }
    #tel-no::after {
      content: "76 70";
    }
  }
  .column-portfolio {
    border-color: $raspberry-red-100;
    display: block;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    .show-less, .collapse-arrow, img, .card-links, .learn-more {
      display: none;
    }
    h1.for-web {
      display: none;
    }
  }
}
