name: Build and Deploy Rails Static Site

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    name: Build, Scrape, and Deploy
    runs-on: ubuntu-latest
    # Set environment variables for all steps
    services:
      postgres:
        image: postgres:16 # Use a specific version of Postgres
        env:
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        # Add a health check to wait for Postgres to be ready
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      RAILS_ENV: development
      SECRET_KEY_BASE: "dummy_secret_key_for_assets_precompile"
      DB_HOST: localhost
      DB_USER: rails
      DB_PASSWORD: password
      DB_NAME: test_db

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Add this new step for debugging
      - name: List files in workspace
        run: ls -la

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.3.5
          bundler-cache: true # Automatically runs 'bundle install' and caches gems
          bundler: latest
      - name: Create and migrate database
        run: |
          bundle exec rails db:create
          bundle exec rails db:schema:load

      - name: Precompile Rails assets
        run: bundle exec rails assets:precompile

      - name: Start Rails server
        run: bundle exec rails server -e development &

      - name: Wait for server to start
        run: sleep 5 # Give the server a few seconds to boot up

      - name: Scrape site with wget
        run: wget -k -p -r -nH -P Portfolio http://127.0.0.1:3000/

      - name: Show Rails logs on failure
        if: failure()
      # This step will run and print the contents of the development log.
        run: cat log/development.log

      - name: Clean remote (keep videos/*.mp4)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{secrets.SFTP_PASSWORD}}
          script: |
            find david-dicke/Portfolio/ -mindepth 1 ! -name 'videos' -exec rm -rf {} +

      - name: Sync files to Strato via SFTP
        uses: Dylan700/sftp-upload-action@latest
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{secrets.SFTP_PASSWORD}}
          port: 22
          uploads: |
            ./Portfolio => ${{ secrets.REMOTE_PATH }}
